/* desktop-template.css */

@media (min-width: 768px) {
    header .main-nav ul {
        display: flex; 
        flex-direction: row;
    }

    header .main-nav ul li {
        margin: 0 15px;
    }

    header .hamburger-menu button {
        display: none; 
    }

    header .logo img {
        height: 130px;
        position: relative;
        bottom: 0;
        font-size: 20px;
    }

    h1{
        position: relative;
        margin-bottom: 1rem;
    }

    .title-logo{
        margin-top: 2rem;
    }

    /*Home Page*/
    .info {
        flex-direction: row; 
        justify-content: space-around;
    }

    .info .events,
    .info .weather,
    .info .forecast {
        width: 30%; 
    }

    .business-cards {
        flex-direction: row; 
        justify-content: space-around;
    }

    .business-cards .card {
        width: 30%; 
    }

    .weather, .forecast{
        text-align: center;
    }

    /*end home page*/

    nav.main-nav {
        display: block;
        opacity: 1;
        max-height: none;
    }

    nav.main-nav ul {
        flex-direction: row; 
    }

    nav.main-nav ul li {
        padding: 0 15px;
    }

    .hamburger-menu button {
        display: none;
    }

    /*Join page*/

    .join-us {
        grid-template-columns: 2fr 1fr; 
        align-items: flex-start;
    }

    /* Discover page layout large */
    .discover-layout {
        grid-template-columns: 1fr 3fr;
    }

    .gallery {
        padding: 15px;
    }
    
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }
    
    .photo-grid figure {
        margin: 0;
        text-align: center;
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .photo-grid img.lazy {
        filter: blur(10px); /* Effect while charging */
    }

    .photo-grid img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease, filter 1s ease;
        filter: none ; /* Asegurar que el blur desaparezca */
    }
    
    .photo-grid h2 {
        font-size: 1.2rem;
        margin: 10px 0;
        color: #333;
    }
    
    .photo-grid address {
        font-style: normal;
        color: #777;
    }
    
    .photo-grid p {
        font-size: 0.9rem;
        color: #555;
    }
    
    .learn-more {
        background: #007BFF;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1rem;
    }
    
    .learn-more:hover {
        background: #0056b3;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }




}