/* desktop-template.css */

@media (min-width: 768px) {
    header .main-nav ul {
        display: flex; 
        flex-direction: row;
    }

    header .main-nav ul li {
        margin: 0 15px;
    }

    header .hamburger-menu button {
        display: none; 
    }

    header .logo img {
        height: 130px;
        position: relative;
        bottom: 0;
        font-size: 20px;
    }

    h1{
        position: relative;
        bottom: -2rem;
    }
    
    nav.main-nav {
        display: block;
        opacity: 1;
        max-height: none;
    }

    nav.main-nav ul {
        flex-direction: row; 
    }

    nav.main-nav ul li {
        padding: 0 15px;
    }

    .hamburger-menu button {
        display: none;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }




}