    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

    :root {
    --color-white: #fff;
    --color-almond: #ecdeca;
    --color-moonstone: #66a2ad;
    --color-old-lace: #f9f2e4;
    --color-paynes-gray: #59696a;
    --color-dun: #e6caa7;
    --color-yellow: yellow;
    --font-roboto: "Roboto", sans-serif;
    --color-black: #000000;
    }

    html {
    font-size: calc(1 * 100vw / 598);
    }

    body {
    /* background: url(../images/assigment-1-desktop-first.png) no-repeat center top /
        598rem auto; */
    font-optical-sizing: auto; 
    font-weight: 400;
    font-style: normal;
    color: var(--color-black);
    font-size: 16rem;
    }

    a{
        color: var(--color-white);
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }

    /* Start Header */
    header {
    background-color: var(--color-moonstone);
    height: 103rem;
    }

    h1.title-home-page {
    margin-top: -62rem;
    color: var(--color-white);
    font-size: 30rem;
    margin-left: 203rem;
    }

    img.julian-img {
    margin-left: 123rem;
    width: 58rem;
    margin-top: 11rem;
    height: 80rem;
    }

    nav{
        margin-top: 35rem;
        background-color: black;
        margin-left: -8rem;
        height: 34rem;
    }

    .navbar{
        display: flex;
        justify-content: space-around;
        color: var(--color-white);
        padding-top: 7rem;
    }

    .font-yellow{
        color: var(--color-yellow);
    }
    #menu{
        display: none;
    }
    /* Start main */
    main{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    /* Start course work */
    .course-work{
        grid-column: 1/2;
        margin-left: 17rem;
        margin-top: 49rem;
        background: bisque;
        height: 233rem;
        border-radius: 5rem;
    }

    .title-container {
        background-color: red;
        height: 37rem;
        margin-top: -25rem;
        border-radius: 5rem 5rem 0 0;
    }

    .title-course-work{
        margin-left: 118rem;
        font-size: 18rem;
        margin-top: 25rem;
        padding-top: 7rem;
        color: white;
    }
    .list-ul{
        list-style-type: disc;
    }


    /* Start buenos aires */

    .buenos-aires{
        grid-column: 2/3;        
        margin-left: 13rem;
        margin-top: 48rem;
        height: 234rem;
        width: 205rem;
        border-radius: 5rem;
        background-color: beige;
    }

    .title-buenos-aires{
        font-size: 18rem;
        margin-top: 6rem;
        margin-left: 10rem;
        padding-top: 8rem;
        color: var(--color-white);
    }

    .title-container-2{
        background-color: red;
        margin-top: -6rem;
        height: 39rem;
        border-radius: 5rem 5rem 0 0;
    }

    figcaption {
        font-size: 12rem;
        margin-left: 26rem;
        margin-top: 2rem;
    }

    .img-buenos-aires{
        width: 155rem;
        height: 157rem;
        margin-left: 7rem;
        margin-top: -6rem;
    }
    /* Start web and programming */

    .web-and-computer-programming{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background: beige;
        margin-top: 12rem;
        margin-left: 21rem;
        margin-right: 23rem;
        height: 204rem;
        border-radius: 5rem;
    }

    .title-container-3 {
        background-color: red;
        margin-top: -20rem;
        margin-left: 0rem;
        margin-right: 0rem;
        height: 37rem;
        border-radius: 5rem 5rem 0 0;;
    }

    .title-web-and-computer {
        font-size: 18rem;
        text-align: center;
        margin-top: 20rem;
        margin-left: 9rem;
        padding-top: 7rem;
        color: white;
    }

    .container-button {
        margin-left: 158rem;
        margin-top: 6rem;
    }

    button.category {
        margin-right: -1rem;
        width: 91rem;
        height: 23rem;
        background: var(--color-black); /* Quita el fondo por defecto */
        border: none; /* Quita el borde por defecto */
        color: var(--color-white);
        font-size: 13rem;
        border-radius: 5rem;
    }

    .container-button-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0;
        margin-right: 0rem;
        margin-top: 7rem;
        border-top: 2rem solid red;
    }

    button.category-2 {
        margin-top: 12rem;
        margin-left: 5rem;
        height: 35rem;
        width: 173rem;
        border-radius: 4rem;
    }

    .completed {
        background-color: #4CAF50; /* Color verde para cursos completados */
        color: white;
    }

    .not-completed {
        background-color: #f44336; /* Color rojo para cursos no completados */
        color: white;
    }

    .total-credits {
        margin-left: 12rem;
        margin-top: 9rem;
    }

    /* start footer */

    footer{
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        margin-top: 5rem;
        background-color: beige;
    }

    img.argentina-flag {
        width: 70rem;
        height: 42rem;
        margin-right: 59rem;
        margin-top: -8rem;
    }

    p.p-1 {
        grid-column: 2/3;
        margin-top: 14rem;
        margin-left: 59rem;
    }
    
    p#lastModified {
        grid-column: 2/3;
        margin-top: -37rem;
        margin-left: 79rem;
        font-size: 14rem;
    }

    
