@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
--color-white: #fff;
--color-almond: #ecdeca;
--color-moonstone: #66a2ad;
--color-old-lace: #f9f2e4;
--color-paynes-gray: #59696a;
--color-dun: #e6caa7;
--color-yellow: yellow;
--font-roboto: "Roboto", sans-serif;
--color-black: #000000;
}

@media (max-width: 560px) {
    html {
        font-size: calc(1 * 100vw / 560);
        }
    
        body {
        /* background: url(../images/assigment-1-desktop-first.png) no-repeat center top /
            598rem auto; */
        font-optical-sizing: auto; 
        font-weight: 400;
        font-style: normal;
        color: var(--color-black);
        font-size: 16rem;
        }
        nav{
            margin-top: -19rem;
            background-color: black;
            margin-left: -8rem;
            height: 87rem;
        }
        .navbar {
            display: none; /* Ocultar la navbar por defecto */
        }
        
        .navbar.open {
            display: flex;
            flex-direction: column;
        }

  /* small view navigation */
    #menu {
        font-size: 17.5rem;
        border: 0;
        background: none;
        color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display:block;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "X";
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open li {
        display: block;
    }
}